<div class="products--grid">
  <app-product
    *ngFor="let p of products"
    [product]="p"
    (showProduct)="onShowDetail($event)"
    (addedProduct)="onAddToShoppiongCart($event)"
    ></app-product>
</div>

<div class="product-detail" [class.active]="showProductDetail">

  <p>{{productChosen}}</p>
  <div *ngIf="productChosen">
    <button (click)="toggleProductDetail()">Close</button>
    <h1>{{productChosen.title}}</h1>
    <!--  -->
 
    <!--  -->

    <p>{{productChosen.desctiption}}</p>

  </div>
</div>

